body {
    background-color: black;
    color:white;
}

header, main, nav, footer {
    text-align: center;
}

#profilePic {
    float: left;
    padding-right: 10px;
}

#name {
  font-family: 'Lobster', cursive;
}

#contactBar {
    text-align: center;
}

#content {
    /*float: right;*/
    margin: 0 auto;
    /*padding-bottom: 250px; */
}

#footer {
  clear:both;
}

